<form class="hwfwm item-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" {{#unless editable}}readonly{{/unless}}/>
      </h1>
      <div class="grid-2col">
        <div class="field">
          <label>Type</label>
          <input type="text" value="{{item.type}}" readonly/>
        </div>
        <div class="field">
          <label>Rarity</label>
          <input type="text" name="system.rarity" value="{{system.rarity}}" {{#unless editable}}readonly{{/unless}}/>
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="field">
      <label>Description</label>
      <textarea name="system.description" rows="8" {{#unless editable}}readonly{{/unless}}>{{system.description}}</textarea>
    </div>
  </section>
</form>
